* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 400px;
  width: 500px;
  background-color: black;
}

.content {
  border: 2px solid gold;
  margin: 0 auto;
  height: 250px;
  width: 460px;
  background-color: red;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: gold;
  text-transform: uppercase;
}

h2 {
  color: #fff;
}
