* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flag {
  width: 900px;
  height: 600px;
  background-color: red;
}
.white-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}
